<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	@Styles.Render("~/vendor/bootstrap/styles")
    @Styles.Render("~/app/sriracha/styles")
    @Styles.Render("~/vendor/jquery/styles")
    @Styles.Render("~/vendor/angular-ui-bootstrap/styles")
	<style>
	</style>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="brand" href="#">Sriracha Deployment System</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="#/project">Projects</a></li>
						<li><a href="#/build">Builds</a></li>
						<li><a href="#/deploy/batchList">Deployments</a></li>
						<li><a href="#/account">My Settings</a></li>
						<li><a href="#/systemSettings">System Settings</a></li>
                        @if(this.Request.IsAuthenticated)
                        { 
						    <li>@Html.ActionLink("Logout", "LogOff", "Account")</li>
                        }
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>
	</div>
	<div style="height:50px">&nbsp;</div>
	<div class="container" style="min-height:500px">

		@RenderBody()

		@RenderSection("scripts", required: false)
        @Scripts.Render("~/vendor/jquery/scripts")
        @Scripts.Render("~/vendor/underscore/scripts")
        @Scripts.Render("~/vendor/bootstrap/scripts")
        @Scripts.Render("~/vendor/angular/scripts")
        @Scripts.Render("~/vendor/angular-ui-bootstrap/scripts")
        @Scripts.Render("~/vendor/ace/scripts")
		@Scripts.Render("~/app/sriracha/scripts")
	</div>
	<div class="container">
		<footer>
			<p>© MMDB Solutions, LLC 2013</p>
		</footer>
	</div>
</body>
</html>

