<div>
	<b>The following deployment has rejected:</b>
</div>
<table border="1" width="500">
	<tr>
		<th>Requested By:</th>
		<td>@Model.DeployRequest.CreatedByUserName</td>
	</tr>
	<tr>
		<th>Requested Date/Time:</th>
		<td>@MMDB.Shared.DateTimeHelper.FormatDateTime(@Model.DeployRequest.SubmittedDateTimeUtc, @Model.DisplayTimeZoneIdentifier)</td>
	</tr>
	<tr>
		<td colspan="2">
			<a href="@Model.DeployStatusUrl">Click here to view/begin this deployment</a>
		</td>
	</tr>
	<tr>
		<th colspan="2">
			Status Messages
		</th>
	</tr>
	<tr>
		<td colspan="2">
				@foreach(string message in Model.DeployRequest.MessageList)
				{
					<pre>@message</pre>
				}
		</td>
	</tr>
	<tr>
		<th colspan="2">Details:</th>
	</tr>
	@foreach(var item in Model.DeployRequest.ItemList)
	{
	<tr>
		<td colspan="2">
			@item.Build.DisplayValue
			<ul>
				@foreach(var machine in item.MachineList)
				{
					<li>@machine.MachineName</li>
				}
			</ul>
		</td>

	</tr>
	}
</table>
